-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = include_javascripts :profile
  = render :partial => 'js/tag_autocomplete.js.haml'
  :javascript
    $(document).ready(function(){
      $('#tags').focus();
    });
    
    

%h4{:style => 'text-align: center;'}
  Diaspora uses
  = link_to('#hashtags', tag_path('hashtags'), :class => 'tag')
  to help you find interesting posts and people.
A post with a word that starts with one of these
= link_to('#hashtags', tag_path('hashtags'), :class => 'tag')
will show up on that hashtag's page.
%br
If you've tagged your Diaspora profile, you will also show up on the tag's page.
%br
%br
%br
= form_tag profile_path, :method => :put, :id => 'update_profile_form' do
  %h4
    Tell us a few of your interests!
    = text_field_tag 'profile[tag_string]', nil, :title => t('profiles.edit.your_tags_placeholder')
    
    = hidden_field_tag :getting_started, step
  %br
  %br
  %br
  .submit_block
    = submit_tag "#{t('users.getting_started.save_and_continue')} →"
