-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = include_javascripts :profile
  = render :partial => 'js/tag_autocomplete.js.haml'

%h3
  = t('profiles.edit.your_public_profile')

= error_messages_for profile

%h4
  = t('profiles.edit.your_name')
  = text_field_tag 'profile[first_name]', profile.first_name, :placeholder => t('profiles.edit.first_name')
  = text_field_tag 'profile[last_name]', profile.last_name, :placeholder => t('profiles.edit.last_name')

- unless aspect == :getting_started
  %h4
    = t('profiles.edit.your_tags')
    = text_field_tag 'profile[tag_string]', ""
%h4
  = t('profiles.edit.your_photo')
  = render 'photos/new_profile_photo', :aspect => aspect, :person => person
  %br
